In [1]:
#Print multiples of 10 for numbers in a given range
for num in range(5):
    if num > 0:
        print(num * 10)

10
20
30
40

In [2]:
#Print first 5 natural numbers using while loop
count=1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [3]:
num = 0
for num in range(6):
    num = num + 1
    if num == 3:
        continue
        print('Num has value' + str(num))
print('End of loop')

End of loop

In [4]:
for var1 in range(3):
    print("Iteration" + str(var1 + 1) + "of outer loop")
    for var2 in range(2): #nested loop
        print(var2 + 1)
        print("Out of inner loop")
        print("Out of inner loop")

Iteration1of outer loop
1
Out of inner loop
Out of inner loop
2
Out of inner loop
Out of inner loop
Iteration2of outer loop
1
Out of inner loop
Out of inner loop
2
Out of inner loop
Out of inner loop
Iteration3of outer loop
1
Out of inner loop
Out of inner loop
2
Out of inner loop
Out of inner loop

In [5]:
# Python program to swap two cities 

#To take inputs from th user
city_1 = input('Enter name of City 1: ')
city_2 = input('Enter name of City 2: ')

#create a temporary variable and swap the cities
temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of city 1 after swapping is {city_1}")
print(f"The name of city 2 after swapping is {city_2}")

KeyboardInterrupt: Interrupted by user

In [ ]:
# Program to Chek if a Number is Positive, Negative or 0

num = float(input("Enter a number: "))
if num > 0:
    print ("Positive number")
elif num== 0:
        print("Zero")
else:
            print ("Negative number")

In [ ]:
# COUPE DE ESCRIVA 2023: FOOTBALL PICKS

print("Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS \n")

captain = {'Madiba:': 'Chubby Obiora-Okafo', 'Blue-Jays: ': 'Christopher Uweh', 'Cirok: ': 'Alexander', 'TSG Walkers:': 'Ikechukwu'}

goalkeepers = {'Madiba: ': 'Chubby Obiora-Okafo',
              'Blue-Jays': 'Oladimeji Abaniwondea/Jeffery Awagu',
              'Cirok: ': 'Timileyin Pearse/Izuako Jeremy',
              'TSG Walkers: ': 'Ayomide Ojituku'}

for pick in captain:
    print(pick, captain[pick])
    
    print("\n")
    
    for pick in goalkeepers:
        print(pick, goalkeepers[pick])

In [ ]:
'Female Name': {Samantha, Jada, Jane, Claire, Elizabeth, Mary, Susan, Waje, Talibat, Lilian},
    'Male Name':{Charles, Jude, James, Kelvin, Biodun, Wale, Kunle, Matthew, Tom, Kayode},
        'Female Age' : {17,16,17,18,16,18,17,20,19,17}
            'Female Height' : {5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5}
                'Female Scores' : {80,85,70,60,76,66,87,95,50,49}
                    'Male Age' : {}
                    'Male Height' :{}
                    'Male Scores' :{}

In [4]:
# Define the data for the table
from tabulate import tabulate
data = [
    ['Samantha', 17, 5.5, 80],
    ['Jada', 16, 6.0,     85],
    ['Jane', 17, 5.4,     70],
    ['Claire', 18, 5.9,   60],
    ['Elizabeth', 16, 5.6,76],
    ['Mary', 18, 5.5,     66],
    ['Susan', 17, 6.1,    87],
    ['Waje', 20, 6.0,     95],
    ['Taibat', 19, 5.7,   50],
    ['Lilian', 17, 5.5,   49],
]


# Define the table heading
heading = ['Name', 'Age', 'Height', 'scores']

table = tabulate(data,heading)
print(table)

Name         Age    Height    scores
---------  -----  --------  --------
Samantha      17       5.5        80
Jada          16       6          85
Jane          17       5.4        70
Claire        18       5.9        60
Elizabeth     16       5.6        76
Mary          18       5.5        66
Susan         17       6.1        87
Waje          20       6          95
Taibat        19       5.7        50
Lilian        17       5.5        49

In [ ]:
def calculate_tax(years_of_experience, age):
    if years_of_experience > 25 and age >= 55:
        return 5600000
    elif years_of_experience > 20 and age >= 45:
        return 4480000
    elif years_of_experience > 10 and age >= 35:
        return 1500000
    else:
        return 550000
    # Example usage
staff_years_of_experience = 30
staff_age = 60
staff_atr = calculate_tax(staff_years_of_experience, staff_age)
print("Annual Tax Revenue: N" + str(staff_atr))

In [1]:
import pandas as pd
data = {'Name':['City','Arsenal','United','Newcastle'], 
        'Colour':['Light_blue','Red','Deep_Red','Black'],
        'Position':[1,2,3,4]}
df= pd.DataFrame(data)
df

        Name      Colour  Position
0       City  Light_blue         1
1    Arsenal         Red         2
2     United    Deep_Red         3
3  Newcastle       Black         4